# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build*/
*.pro.user*
CMakeLists.txt.user*
*.DS_Store
*.qm
.directory

# Binary file
dde-dock
.vscode

# Deb build output
build/*
obj-*-linux-gnu/*

# dpkg-buildpackage artifacts
debian/.debhelper/
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/gxde-dock*/
debian/tmp/
debian/debhelper-build-stamp
../gxde-dock_*.deb
../gxde-dock_*.buildinfo
../gxde-dock_*.changes

# Clangd
.cache/clangd/*

# Personal stuff
.charofstring/*

# Misc
.lock
